/* IE Support for HTML5 block elements */
header, section, nav, article {
	display: block;
}

body {
	background: #fff;
	color: #003;
	font-family: Arial, Helvetica, Sans-Serif;
}

#body {
    width: 760px;
    margin: 0 auto;
}