/* IE Support for HTML5 block elements */
header, section, nav, article {
	display: block;
}

body {
	background: #fff;
	color: #003;
	font-family: Arial, Helvetica, sans-serif;
}

#body {
    width: 745px;
    margin: 0 auto;
}

#hud span {
    /*background: #66d;*/
    width: 100px;
    padding: 15px 0;
    display: inline-block;
    text-align: center;
}

#menu {
    list-style-type: none;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    background: #600;
    color: #fff;
    width: 100px;
    text-align: center;
}

#menu a:hover {
    background: #900;
}

#loverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:49;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

#levelup {
    background-color: #66e;
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 50;
    width: 500px;
    height: 300px;
}

#levelup img {
    background-color: #fff;
    border: 1px solid black;
    float: left;
    margin-left: 15px;
    margin-top: 50px;
}

#levelup div {
    float: left;
    height: 70px;
    left: 230px;
    margin-top: 100px;
    text-align: center;
    width: 280px;
}