<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>#{get 'title' /} - &{'Application.title'}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/reset.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="@{'/public/javascripts/jquery-min.js'}"></script>
        <script src="@{'/public/javascripts/underscore-min.js'}"></script>
        <script src="@{'/public/javascripts/backbone-min.js'}"></script>
    </head>
    <body>
        <div id="body">
            #{doLayout /}
        </div>
        #{get 'moreScripts' /}
    </body>
</html>
