#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
    #{script 'castles.js'/}
    #{script 'user.js'/}
    #{script 'land.js'/}
    #{script 'quests.js'/}
    #{script 'army.js'/}
    #{script 'leaderboard.js'/}
    #{script 'kontagent_api.js'/}
    #{if null == user }
        #{script 'registration.js'/}
    #{/if}
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({
            appId : '191706917521174',
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml : true // parse XFBML
        });
    </script>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.Canvas.setSize();
        }

        // Do things that will sometimes call sizeChangeCallback()
        function sizeChangeCallback() {
            FB.Canvas.setSize();
        }
    </script>
#{/set}

<div id="contentWindow">
    <div id="hud"></div>
    <div id="menu"></div>
    <div id="content"></div>
</div>

<script type="text/template" id="tpl-menu">
    <ul>
        <% if ( feature_army ) { %>
        <li><a href="#army" id="menuArmy">Army</a></li>
        <% } %>
        <li><a href="#lands" id="menuLand">Land</a></li>
        <li><a href="#quests" id="menuQuests">Quests</a></li>
        <li><a href="#profile" id="menuProfile">Profile</a></li>
        <li><a href="#leaderboard" id="menuLeaderboard">Leaderboard</a></li>
    </ul>
</script>

<script type="text/template" id="tpl-quest-list-item">
    <section class="quest" data-role="collapsible" style="clear: both">
        <img src="<%= image %>" style="float: left" />
        <h2 class="quest-name">
            <a href="#quests/<%= id %>"><%= name %></a>
        </h2>

        <p><%= description %></p>
    </section>
</script>

<script type="text/template" id="tpl-hud">
    <span id="healthBar"><%= health %>/<%= healthMax %> <img src="/public/images/hud/health.png" alt="Health " /></span>
    <span id="levelBar">Level <%= level %></span>
    <span id="goldBar"><%= gold %> <img src="/public/images/hud/coins.png" alt="Gold " /></span>
    <span id="incomeBar">Income: <%= income %></span>
    <!--<span id="networthBar">Net Worth: <%= netWorth %></span>-->
</script>

<script type="text/template" id="tpl-quest-details">
    <h1>&{'Mission.info.title'}</h1>

    <img src="<%= image %>" style="float: left" />

    <h2><%= name %></h2>

    <p>XP: <%= xp %></p>
    <p>Gold: <%= minGold %> - <%= maxGold %></p>

    <menu>
        <ul>
            <li><button class="run">&{'Mission.info.runButtonText'}</button></li>
            <li><a href="#quests" class="button">&{'Mission.info.backButtonText'}</a></li>
        </ul>
    </menu>
</script>

<script type="text/template" id="tpl-land-list-item">
    <section class="land" data-role="collapsible" style="clear:both">
        <img src="<%= image %>" style="float: left" />
        <h2 class="land-name">
            <a href="#lands/<%= id %>"><%= name %></a>
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">Owned: <%= quantity %></span>
        </h2>

        <p><%= description %></p>

        <p>Cost: <%= price %></p>

        <p>Income: <%= income %></p>

        <p><button onclick="location.href='#lands/<%= id%>'">&{'Application.land.moreinfo'}</button></p>
    </section>
</script>

<script type="text/template" id="tpl-land-details">
    <h1>&{'Property.info.title'}</h1>

    <img src="<%= image %>" style="float: left" />

    <h2><%= name %></h2>

    <p>Cost: <%= price %></p>

    <menu>
        <ul>
            <li><button class="buy">&{'Property.info.buyButtonText'}</button></li>
            <li><a href="#lands" class="button">&{'Property.info.backButtonText'}</a></li>
        </ul>
    </menu>
</script>

<script type="text/template" id="tpl-leaderboard-list-item">
    <tr>
        <td><%= rank %></td>
        <td><%= name %></td>
        <td><%= netWorth %></td>
    </tr>
</script>

<script type="text/template" id="tpl-profile">
    <h1>User Profile</h1>

    <h2><%= name %></h2>

    <table>
        <tr>
            <td>Level</td>
            <td><%= level %></td>
        </tr>
        <tr>
            <td>Health</td>
            <td><%= health %>/<%= healthMax%></td>
        </tr>

        <tr>
            <td>XP:</td>
            <td><%= xp %>/<%= xpGoal%></td>
        </tr>

        <tr>
            <td>Net Worth:</td>
            <td><%= netWorth %></td>
        </tr>
    </table>
</script>

<script type="text/template" id="tpl-unit-list-item">
    <section class="unit" data-role="collapsible" style="clear: both">
        <img src="<%= image %>" style="float: left" />
        <h2 class="unit-name">
            <a href="#army/<%= id %>"><%= name %></a>
        </h2>

        <p>Cost: <%= price %></p>

        <p>Upkeep: <%= upkeep %></p>

        <p>Power: <%= offense %>/<%= defense %></p>

        <p><button onclick="location.href='#army/<%= id%>'">&{'Application.army.moreinfo'}</button></p>
    </section>
</script>

<script type="text/template" id="tpl-unit-details">
    <h2>Details</h2>
    <img src="<%= image %>" style="float: left" />
</script>

<script type="text/template" id="tpl-registration">
    <h1>&{'Application.register.title'}</h1>

    #{form @Application.postUser(), id:'registerForm'}
        <p>
            <label for="name">&{'Application.register.form.name'}</label>
            <input type="text" name="name" id="name" />
        </p>

        <p>
            <input type="submit" value="&{'Application.register.form.submit'}" />
        </p>
    #{/form}
</script>

<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            // configure and instantiate Kontagent object
            var ktApiKey = "d50ed84282034078854af95946018865";
            var ktApi = new KontagentApi(ktApiKey, {
                useTestServer: true
            });

            #{if user}
            ktApi.trackPageRequest("${user.id}");

            window.app = CastlesApp.init({
                kontagent: ktApi
            });
            #{/if}
            #{else}
            CastlesApp.Registration.init({
                kontagent: ktApi,
                success: function(userId){
                    ktApi.trackPageRequest(userId);

                    window.app = CastlesApp.init({
                        kontagent: ktApi
                    });
                }
            });
            #{/else}
        });
    })(jQuery);
</script>

<div id="levelup" style="display: none;">
    <img src="/public/images/dialogs/levelup.png"/>

    <div>
        <h2>Level Up</h2>

        <p id="levelup_text">Welcome to level 5!</p>

        <p><button onclick="javascript:CastlesApp.closeLevelup();">Close</button></p>
    </div>
</div>