<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<header>
	    	<nav>
		    	<ul>
		    		<li><a href="@{Application.index()}">&{'Application.home'}</a></li>
		    		<li><a href="#">&{'Application.army'}</a></li>
		    		<li><a href="#">&{'Application.land'}</a></li>
		    		<li><a href="@{Application.quests()}">&{'Application.quests'}</a></li>
		    		<li><a href="@{Application.settings()}">&{'Application.settings'}</a></li>
		    	</ul>
	    	</nav>
    	</header>
    	
    	#{if null != user}
    	<ul id="stats">
    		<li>Name: ${user.name}</li>
    		<li>Level: ${user.getLevel().rank}</li>
    		<li>Gold: ${user.gold}</li>
    		<li>XP: ${user.exp}/${user.getExpToLevel()}</li>
    	</ul>
    	#{/if}
        #{doLayout /}

	<div id="fb-root"></div>
	<script type="text/javascript">
		window.fbAsyncInit = function() {
			FB.init({appId: '${play.Play.configuration.get("fb.appId")}', status: true, cookie: true, xfbml: true});
			FB.Canvas.setAutoResize();
		};
		(function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		}());
	</script>
    </body>
</html>
